{% from 'bootstrap/nav.html' import render_nav_item -%}
{% set appname = 'Laporte' -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ appname }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand mb-0 h1" href="#">{{ appname }}</a>
                {{ render_nav_item('table', 'Sensors', use_li=True) }}
                {{ render_nav_item('scheduler', 'Scheduler', use_li=True) }}
                {{ render_nav_item('log', 'Log', use_li=True) }}
                {{ render_nav_item('prom', 'Metrics', use_li=True) }}
                {{ render_nav_item('doc', 'API', use_li=True) }}
            </ul>
            <span class="navbar-text" id="status"></span>
        </div>
    </nav>
    <main class="container-fluid">
    {% block content %}{% endblock %}
    </main>

{{ bootstrap.load_js() }}
{% block script %}{% endblock %}
</body>
</html>
