{% extends 'base.html' %}
{% block title %}Prometheus metrics{% endblock %}

{% block content %}
<div style="padding-top: 3rem">
<h3>Prometheus metrics</h3>
<p class="font-weight-light" id="url"></p>
<div id="metrics" class="text-monospace"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/prom.js') }}"> </script>
{% endblock %}
