{% extends 'base.html' %}
{% block title %}sensors{% endblock %}

{% block content %}
  <div style="padding-top: 3rem">
  <table class="table">
  {% set sensors = {} -%}
  {% for gw, nodes in data.items() -%}
        {% for node_id, node_data in nodes.items() -%}
        <thead>
            <tr class="bg-light">
                <th style="width: 40%" scope="col">{{node_id}} <small>[{{gw}}]</small></th>
                <th style="width: 20%" scope="col">value</th>
                <th style="width: 20%" scope="col">hits</th>
                <th style="width: 20%" scope="col">duration</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor_id, sensor_data in node_data.items() -%}
        <tr>
            <td scope="row"><div>{{sensor_id}}</div></td>
            {% set sensor_label = (node_id + '_' + sensor_id) | replace ('.','-') -%}
            {% set value_id = sensor_label + '_value' -%}
            {% set ttl_id = sensor_label + '_ttl' -%}
            {% set hits_id = sensor_label + '_hits_total' -%}
            {% set timestamp_id = sensor_label + '_hit_timestamp' -%}
            {% set duration_id = sensor_label + '_duration_seconds' -%}
            {% do sensors.update({ sensor_label : { "ttl" : sensor_data["ttl"], "type" : sensor_data["type"], "default_value" : sensor_data["default_value"] }}) -%}
            <td><span id="{{ value_id }}"></span> <small class="text-secondary font-weight-light" id="{{ ttl_id }}"></small></td>
            <td><span id="{{ hits_id }}"></span> <small class="text-secondary font-weight-light" id="{{ timestamp_id }}"></small></td>
            <td><span id="{{ duration_id }}"></span></td>
        </tr>
        {% endfor -%}
      {% endfor -%}
        </tbody>
  {% endfor -%}
  </table>
  </div>

<script type="text/javascript" charset="utf-8">
    time_locale = "{{ time_locale }}";
</script>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/sensors.js') }}"> </script>
{% endblock %}
