{% extends 'base.html' %}
{% block title %}Event Scheduler{% endblock %}
{% block styles %}
{{super()}}
<!-- Logs CSS -->
<link rel="stylesheet" href="{{url_for('web.static', filename='css/log.css')}}">
{% endblock %}

{% block content %}
<table class="table table-sm sticky-header pt-5 pb-5">
    <thead class="bg-light">
        <tr>
            <th class="w-10" scope="col">next run</th>
            <th class="w-10" scope="col">node</th>
            <th class="w-10" scope="col">sensor</th>
            <th class="w-70" scope="col">action</th>
        </tr>
    </thead>
    <tbody id="jobs">
    </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('web.static', filename='js/shared.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('web.static', filename='js/scheduler.js') }}"> </script>
{% endblock %}
