<!DOCTYPE HTML>
<html>
<head>
    <title>Switchboard events</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/log';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            socket.on('connect', function() {
                $('#log').append('<br>' + $('<div/>').text('connected').html());
            });

            // Event handler for server sent event data.
            socket.on('event', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg).html());
            });
        });
    </script>
</head>
<body>
    <h1>Switchboard</h1>
    <h2>Received events:</h2>
    <div id="log"></div>
</body>
</html>
