{% extends 'base.html' %}

{% block title %}Switchboard{% endblock %}

{% block content %}
  <table class="table">
  {% for source, nodes in data.items() %}
      {% for node_id, sensors in nodes.items() %}
        <thead>
            <tr class="bg-light">
                <th scope="col">{{node_id}} <small>[{{source}}]</small></th>
                <th scope="col">value</th>
                <th scope="col">hits</th>
                <th scope="col">duration</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor_id, sensor_data in sensors.items() %}
            <tr>
                <td scope="row"><div>{{sensor_id}}</div></td>
                <td><div id="{{node_id}}_{{sensor_id}}_value"></div></td>
                <td><div id="{{node_id}}_{{sensor_id}}_hits_total"></div></td>
                <td><div id="{{node_id}}_{{sensor_id}}_duration_seconds"></div></td>
            </tr>
        {% endfor %}
      {% endfor %}
        </tbody>
  {% endfor %}
  </table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        namespace = '/events';
        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        // Event handler for new connections.
        socket.on('connect', function() {
         $('#status').html("connected");
        });

        socket.on('disconnect', function() {
         $('#status').html("not connected");
        });

        // Event handler for server sent event data.
        socket.on('event', function(msg) {
            obj = JSON.parse(msg);

            for (node_id in obj) {
                for (sensor_id in obj[node_id]) {
                    for (metric in obj[node_id][sensor_id]) {
                        id = "#" + node_id + "_" + sensor_id + "_" + metric;
                        value = obj[node_id][sensor_id][metric];
                        switch (typeof value) {
                            case "number":
                                if (metric == "duration_seconds") {
                                    value = Math.round(value*10)/10;
                                    if (value == 0) {
                                        $(id).html("");
                                    } else {
                                        $(id).html(value.toString() + "s");
                                    }
                                } else {
                                    value = Math.round(value*100)/100;
                                    $(id).html(value.toString());
                                }
                                break;
                            case "string":
                            case "boolean":                            
                                $(id).html(value);
                                break;
                            default:
                                $(id).html("");
                                break;

                        }
                    }
                }
            }
        });
    });
</script>
{% endblock %}
